{% extends 'base.html.twig'%}
{% block title %}Contact de Berg{% endblock %}
{% block body %}
    <section id="partieFormulaireContact">
        <h1>Formulaire de contact</h1>
    </section>
{% endblock %}