{% extends 'base.html.twig' %}

{% block body %}
     <article>
        <h2> {{ articleEvent.titleEvent }} </h2>
        {{articleEvent.createdAdEvent | date('d-m-Y H:i:s', "Europe/Paris") }}
        <p> {{ articleEvent.descriptionEvent}} </p>
        <a href="{{ path('evenements') }}"><button>retour</button></a>
        </article>
{% endblock %}

