{% extends 'base.html.twig' %}
{% block title %}Histoire de Berg{% endblock %}
{% block body %}
<article id="cadreHistoire" >
<h1>Histoire</h1>
<img src="{{asset ('assets/images/imgVillageBerg.jpg')}}" alt="">

<p>Berg est une petite commune du nord-est de la France, située dans le département du Bas-Rhin et de la région Grand Est.
Elle fait partie de la Communauté de communes "de l'Alsace Bossue".
Les habitants et habitantes de la commune de Berg sont appelés les Bergeois et les Bergeoises.
Les 410 habitants du village de Berg vivent sur une superficie totale de 8 km2 avec une densité de 51 habitants par km2 et une moyenne d’altitude de 260 m.
Depuis le dernier recensement de 1999 à 2008, la population est passée de 405 à 410 et a légèrement augmenté de 1%.
Les villes voisines sont Gungwiller, Thal-Drulingen, Bettwiller, Rexingen, Eywiller.
La grande ville la plus proche de Berg est Sarreguemines et se trouve à 24 kilomètres au nord-ouest à vol d'oiseau.
La gare la plus proche de Berg se trouve à Diemeringen (5.44 kilomètres), Vœllerdingen (7.53 kilomètres), Sarre-Union (6.91 kilomètres), Tieffenbach (7.33 kilomètres), Oermingen (11.84 kilomètres).
Le maire actuel du village de Berg est Jean-Pierre Nickles.
Pour effectuer l’ensemble de vos démarches administratives en mairie (naissance, mariage, décès), vous pouvez contacter par téléphone ou par email l’équipe municipale à l’aide des coordonnées ci-dessous ou vous rendre directement au 47 rue Principale 67320 Berg.</p>
</article>
{% endblock %}