{% extends 'base.html.twig'%}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="partieAccueil">
        <article id="cadreMeteo">
            <h1>Méteo</h1>
            <p>Aujourd'hui il fait un temps à rester chez sois</p>
        </article>
        <article id="cadreBienvenue">
            <h1>Bienvenue</h1>    
        </article>
        <article id="cadreNouvelles">
            <h1>Les nouvelles</h1>
        </article>
    </section>
{% endblock %}